body {
	background: #F6F6F6;
}

table {
 border-collapse: collapse;
 border: 1px solid #000000;
 background: #FFFFFF;
}

td {
 height: 3px;
 width: 3px;
}

#colors {
 margin: 20px 0 0 0;
}

#colors .c {
 border: 1px solid #000000;
 line-height: 20px;
 margin: 2px 2px;
 cursor: pointer;
 width: 20px;
 float: left;
}

#colors .cl {
 line-height: 0;
 clear: left;
}

#erase {
 font: bold 28px "Arial", sans-serif;
 text-decoration: underline;
 letter-spacing: -2px;
 background: #EEEEEE;
 cursor: pointer;
 margin: 20px 0;
}